/* Declare variables */
:root {
    --clr-border: rgb(50, 50, 50);
    --clr-neutral-100: rgb(15, 15, 15);
    --clr-neutral-200: rgb(30, 30, 30);
    --clr-neutral-600: rgb(150, 150, 150);
    --clr-neutral-800: rgb(200, 200, 200);
}

/* Basic resets */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: sans-serif;
    background: black;
    color: white;
}

img {
    display: block;
    width: 100%;
}

a {
    color: white;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    background: white;
    color: black;
}

button:hover {
    background: var(--clr-neutral-800);
}

/* Remove inc/dec buttons in input field */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 2rem 0;
}

header .source-code-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

header .github-icon {
    width: 1.25rem;
}

/* Images section */
.images-section {
    display: flex;
    gap: 2rem;
    margin: 2rem 2rem 0;
}

.images-section > div {
    overflow: hidden;
    flex-basis: 50%;
    border: 1px solid var(--clr-border);
    border-radius: 0.25rem;
}

.images-section img {
    max-height: 50vh;
    object-fit: contain;
}

/* Hide the actual file input, a button is used instead */
#imgInput {
    display: none;
}

/* Kernel section */
.kernel-select-section {
    overflow: hidden;
    margin: 2rem 2rem 0;
    border: 1px solid var(--clr-border);
    border-radius: 0.25rem;
}

.kernel-select-section select {
    background: none;
    color: white;
}

.kernel-select-section .table-wrapper {
    overflow: hidden;
    width: max-content;
    border: 1px solid var(--clr-border);
    border-radius: 0.25rem;
}

#kernelDisplay {
    border-collapse: collapse;
}

#kernelDisplay input {
    width: 4rem;
    aspect-ratio: 1;
    text-align: center;
    color: white;
    border-right: 1px solid var(--clr-border);
    border-bottom: 1px solid var(--clr-border);
    background: var(--clr-neutral-200);
}

#kernelDisplay tr input:last-of-type {
    border-right: none;
}

#kernelDisplay tr:last-of-type input {
    border-bottom: none;
}

/* Overall */
.title-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--clr-border);
    background: var(--clr-neutral-200);
}

.btn-container {
    border-top: 1px solid var(--clr-border);
    padding: 0.75rem 1rem; 
    background: var(--clr-neutral-200);
}

.content-container {
    padding: 1rem;
    background: var(--clr-neutral-100)
}
