<!DOCTYPE html>
<title>Image Convolution Playground</title>
<script type="text/javascript">
    const predefinedKernels = {{ predefined_kernels_json | tojson }}
</script>
<script src="../static/script.js" type="text/javascript" async defer></script>
<link href="../static/style.css" rel="stylesheet" />

<header>
    <h1>Image Convolution Playground</h1>

    <a 
        href="https://github.com/gelkoh/image-convolution-playground"
        class="source-code-link" 
    >
        <img src="../static/github-mark-white.svg" class="github-icon" /> 
        Source Code
    </a>
</header>

<section class="images-section">
    <div>
        <div class="title-container">
            <h3>Input Image</h3>
        </div>

        <div class="content-container">
            <img src="../static/default-img.jpg" id="inputImg" />
        </div>

        <div class="btn-container">
            <button type="button" id="imgInputBtn">Upload image</button>
        </div>
        <input type="file" id="imgInput" />
    </div>

    <div>
        <div class="title-container">
            <h3>Output Image</h3>
        </div>

        <div class="content-container">
            {% if img_data %}
            <!-- Convolved/filtered image -->
            <img src="data:image/jpeg;base64,{{ img_data }}" id="outputImg">
            {% else %}
            <!-- Original image -->
            <img src="../static/default-img.jpg" id="outputImg">
            {% endif %}
        </div>

        <div class="btn-container">
            <button type="button" id="downloadImgBtn">
                Download image
            </button>
        </div>
    </div>
</section>


<section class="kernel-select-section">
    <form method="POST" id="convolutionSettingsForm">
        <div class="title-container">
            <h3>Kernel</h3>

            <select id="kernelSelect" name="kernel">
                {% for predefined_kernel_name in predefined_kernels_names %}
                    <option value="{{ predefined_kernel_name }}">{{ predefined_kernel_name }}</option>
                {% endfor %}

                <option value="CUSTOM">CUSTOM</option>
            </select>

            <select id="edgeHandlingMode" name="edgeHandlingMode">
                <option value="reflect">Reflect</option>	
                <option value="constant">Constant</option>	
                <option value="nearest">Nearest</option>	
                <option value="mirror">Mirror</option>	
                <option value="wrap">Wrap</option>	
            </select>

            <div>
                <input type="checkbox" name="applyGrayscale" id="applyGrayscaleCheckbox" />
                <label for="applyGrayscaleCheckbox">Apply grayscale before processing</label>
            </div>
        </div>

        <div class="content-container">
            <div class="table-wrapper">
                <table id="kernelDisplay"></table>
            </div>
        </div>

        <div class="btn-container">
            <button type="submit">Apply</button>
        </div>
    </form>
</section>
