<!DOCTYPE html>
<title>Image Convolution Playground</title>
<script type="text/javascript">
    const predefinedKernels = {{ predefined_kernels_json | tojson }}
</script>
<script src="../static/script.js" type="text/javascript" async defer></script>
<link href="../static/style.css" rel="stylesheet" />

<h1>Image Convolution Playground</h1>

<h3>Input Image</h3>

<img src="../static/default-img.jpg" />

<h3>Kernel</h3>

<form method="POST" id="kernelSelectForm">
    <select id="kernelSelect" name="kernel">
        {% for predefined_kernel_name in predefined_kernels_names %}
            <option value="{{ predefined_kernel_name }}">{{ predefined_kernel_name }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Apply" />
</form>

<table id="kernelDisplay"></table>

<h3>Output Image</h3>

{% if img_data %}
    <!-- Convolved/filtered image -->
    <img src="data:image/jpeg;base64,{{ img_data }}" id="outputImg">
{% else %}
    <!-- Original image -->
    <img src="../static/default-img.jpg" id="outputImg">
{% endif %}
